<div class="splash">
	<div class="centercontainer">
		<div class="centerrow">
			<div class="centercolumn text-center">
				<div class="page-header">
					<div class="animated flipInX">
						<%= image_tag('aytext.png', :alt => "Brand", :class => "inline-block pageimage") %>
					</div>
					<h1>
						Apply Yourself
						<br>
						<small>(simulated job hunting)</small>
					</h1>
				</div>
				<% unless user_signed_in? %>
					<p><%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-raised" %> or <%= link_to "Log in", new_user_session_path %></p>
				<% else %>
					<% unless current_user.resume(@resume) %>
						<%= link_to "Build Your Resume", new_resume_path, class: "btn btn-block btn-primary btn-raised" %>
					<% else %>
						<a href="#" class="btn btn-block btn-primary btn-raised disabled">Apply for Jobs</a>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
