@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu';

$navbar-height: 70px;
$alert-info-bg: #222;
$alert-info-text: #BDC3C7;
$alert-info-border: #222;
$well-bg: #FFF;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-family-serif: 'Droid Serif', serif;


@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
    background: repeating-linear-gradient(
  -55deg,
  #FFFFFF,
  #F2F3F3 2px,
  #FFFFFF 2px,
  #F2F3F3 2px);
}

/* this keeps a single item in the exact center - perfect for forms */

.centercontainer {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}
 
.centerrow {
    height: 100%; 
    display: table-cell; 
    vertical-align: middle;
    padding-top: 5%;
    padding-bottom: 5%;
}

.centerrowresume {
    height: 100%; 
    display: table-cell; 
    vertical-align: middle;
}
 
.centercolumn {
    float:none;
    margin:0 auto;
    width: 95%;
    max-width: 500px;
}

.centercolumnresume {
    float:none;
    margin:0 auto;
    width: 95%;
    max-width: 900px;
}

.btn {
    box-shadow: 0 3px 0 0 #B8BBBC;
}

.panelpadding {
    padding-top: 6%;
}

.panelpaddingbottom {
    padding-bottom: 3%;
}

.jumbopadding {
    padding-top: 6%;
}

.splash {
    margin-top: 85px;
}

.splashform {
    margin-top: 35px;
}

.alert {
    width: 100%;
    position: fixed;
    z-index: 9000;
    height: 70px;
    padding: 24px;
    border: none;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
}

.well {
    padding: 1.5%;
}

.tab-content .tab-pane
{
  display: none;
}

.tab-content .active
{
  display: block;
}

.brandimage {
    margin-top: -17px;
    width: 55px;
}

.pageimage {
    width: 100px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}