@import 'https://fonts.googleapis.com/css?family=Droid+Serif|Ubuntu';

$navbar-height: 70px;
$alert-info-bg: #222;
$alert-info-text: #BDC3C7;
$alert-info-border: #222;
$well-bg: #FFF;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-family-serif: 'Droid Serif', serif;


@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
    background-color: #F9FAFA;
    background-image: image-url("noisy-grid.png");
}

/* this keeps a single item in the exact center - perfect for forms */

html, body {
    height: 100%;
    width: 100%;
}

.centercontainer {
    display: table;
    width: 100%;
    padding: 0;
}
 
.centerrow {
    display: table-cell; 
    vertical-align: middle;
}

.centerrowresume {
    display: table-cell; 
    vertical-align: middle;
}
 
.centercolumn {
    float:none;
    margin:0 auto;
    width: 95%;
    max-width: 500px;
}

.centercolumnresume {
    float:none;
    margin:0 auto;
    width: 95%;
    max-width: 900px;
}

.btn {
    box-shadow: 0 3px 0 0 #B8BBBC;
}

.alert {
    width: 100%;
    position: fixed;
    z-index: 9000;
    height: 70px;
    padding: 24px;
    border: none;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
}

.well {
    padding: 1.5%;
}

.tab-content .tab-pane
{
  display: none;
}

.tab-content .active
{
  display: block;
}

.brandimage {
    margin-top: -17px;
    width: 55px;
}

.pageimage {
    width: 100px;
}

#container {
    min-height: 100%;
    position: relative;
    padding-top: 100px;
}

#footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

.resumepadding {
    padding-bottom: 60px;
}

#error_explanation h2 {
  display: none;
}

.indentit {
    padding-left: 20px;
}

.indentit .panel-heading {
    background: #A3EAC1;
}

.reviewsdiv {
    padding-bottom: 40px;
}