<% if user_signed_in? %>
    <div class="centercontainer resumepadding">
        <div class="centerrow">
            <div class="centercolumnresume">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Edit Your Resume
                            <small class="pull-right">
                                <a href="#" data-toggle="modal" data-target="#example"><span class="glyphicon glyphicon-eye-open"></span> Example Resume</a>
                            </small>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <%= render 'form', resume: @resume %>
                    </div>
                    <div class="panel-footer">
                        <%= link_to 'Back', :back %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleResume" id="example">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="row">
            <div class="col-xs-12">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">  
                <div class="modal-body">     
                    <div class="page-header text-center">
                        <h2>
                            <i>Bart Simpson</i>
                            <br>
                            <small>bart@simpson.com<br>+380762186735</small>
                        </h2>
                    </div>
                    <br>
                    <p>
                        <h3><strong>Objective:</strong></h3><br>
                        To do as little work as possible.
                    </p>
                    <br>
                    <br>
                    <p>
                        <h3><strong>Education:</strong></h3><br>
                        <i>Bart's School of Skateboarding - 2013-Present</i><br>
                        Hang out with friends, do awesome tricks on my skateboard, eat chips, and avoid teachers.
                        <br>
                        <br>
                        <br>
                        <i>Springfield High School - Forever</i><br>
                        Sleep on desks, draw pictures on my papers, pass notes, and get in trouble.
                    </p>
                    <br>
                    <br>
                    <p>
                        <h3><strong>Experience:</strong></h3><br>
                        <i>Springfield High School Dance - April, 2016</i><br>
                        Crashed the party with a water gun and my skateboard.
                        <br>
                        <br>
                        <br>
                        <i>Springfield Central Park Cleanup - Summer, 2016</i><br>
                        As punishment for crashing the Springfield High School Dance, was asked to pick up trash at the park all summer.  Bummer...
                    </p>
                    <br>
                    <br>
                    <p>
                        <h3><strong>Skills:</strong></h3><br>
                        Skateboarding, computer games, paper-airplane throwing, hair styling, communication
                    </p>
                    <br>
                    <br>
                    <p>
                        <h3><strong>References:</strong></h3><br>
                        Crusty the Clown - crusty@theclown.com
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="jumbotron">
        <h1>Not authorized.</h1>
        <p><%= link_to "Go Back", :back, class: "btn btn-info" %></p>
    </div>
<% end %>
